 .u-section-1 {
  background-image: url("images/ewwe.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 660px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: none;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 60px 429px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 229px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 96px;
    margin-right: 102px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 51.8% 24%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1201px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 600;
  margin: 60px calc(((100% - 1140px) / 2) + 300px) 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-shape-1 {
  height: 632px;
  width: calc(((100% - 1140px) / 2) + 403px);
  margin: 155px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 799px;
  height: 656px;
  margin: -522px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 570px;
  margin: -861px calc(((100% - 1140px) / 2)) 209px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-gap: 30px 30px;
  min-height: 712px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,45,51,0.4);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 94px;
  width: 94px;
  background-image: none;
  color: rgb(44, 71, 118) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 23px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,45,51,0.4);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 23px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,45,51,0.4);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 23px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: 22px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,45,51,0.4);
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 23px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-9 {
  font-style: italic;
  margin: 22px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1181px;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.0625rem;
    width: auto;
    margin-top: 75px;
    margin-right: calc(((100% - 940px) / 2) + 198px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 403px);
  }

  .u-section-2 .u-image-1 {
    width: 734px;
    height: 639px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 503px;
    height: auto;
    margin-top: -844px;
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1902px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 403px);
    margin-top: 68px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 627px;
    margin-left: auto;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1655px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 66px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-shape-1 {
    height: 409px;
    width: calc(((100% - 540px) / 2) + 403px);
    margin-top: 50px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 470px;
    margin-top: -365px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 2030px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: 340px;
    margin-top: 50px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-shape-1 {
    height: 299px;
    width: calc(((100% - 340px) / 2) + 340px);
    margin-top: 41px;
    margin-right: 50px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 296px;
    margin-top: -261px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: 40px;
    margin-left: auto;
    margin-bottom: 41px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1314px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 27px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 27px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 27px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 27px;
  }
}